
.container {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 100vw;


  &.scrollUp {
    transform: translateY(-80px);
  }

  .navbar-menu {
    margin: 0;
    padding: 0;
    display: block;

    .center {
      text-align: center;
    }

    .right {
      float: right;
    }

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: #666;
        font-size: 17px;
        text-decoration: none;
      }
    }
  }

  #brand {
    text-transform: uppercase;
    float: left;
    font-weight: 800;
    font-size: 20px;
    color: #5ab1f9;
  }

  button {
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    float: right;
    cursor: pointer;
    display: none;

    span {
      width: 30px;
      height: 2px;
      background: #333;
      display: block;
      margin: 5px 0;
    }
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none !important;
  }
  button {
    display: block !important;
  }
}
